{% extends 'base.html' %}

{% block title %}Авторизация{{block.super }}{% endblock %}

{% block header %}
    {{ block.super }}
{% endblock %}

{% block navigation %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1>Логин</h1>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
        <a href="/catalog/list_of_services"><button type="submit">Введите логин</button></a>
    <input type="hidden" name="next" value="{{ next }}">
    </form>
{% endblock %}

{% block footer %}
     {{ block.super }}
{% endblock %}