{% extends "base.html" %}

{% block title %}Волосы{{block.super }}{% endblock %}

{% block header %}
{% endblock %}

{% block navigation %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1 class="text-center">Парикмахерский зал</h1>
    <p class="photo"><img src="/static/img/ex16.png" alt="connect" style="max-height:200px, max-width:300"></p>
    <h3>В этом разделе предлагаю такие услуги: </h3>
    <ul>
        {% for i in service %}
        <li>{{ i }}</li>
        {% endfor %}
    </ul>
    <p>Стрижки любой длины. Тонко чувствую геометрию , поэтому стрижки получаются максимально соответствуюми
        пожеланиям клиентов. Очень люблю экспериментировать, поэтому люблю креативные стрижки.</p>
    <p class="photo"><img src="/static/img/ex17.png" alt="connect" style="max-height:200px, max-width:300"></p>
    <p>Окрашивание в один тон, мелирование, колорирование, тонирование, шатуш, амбре, краски использую свои
    (Эстель, Капус) или ваши,если вам так угодно).</p>
    <p class="photo"><img src="/static/img/ex18.png" alt="connect" style="max-height:200px, max-width:300"></p>
    <p class="photo"><img src="/static/img/ex20.png" alt="connect" style="max-height:200px, max-width:300"></p>
    <p>Креативничаю и с окрашиванием).</p>
    <p class="photo"><img src="/static/img/ex19.png" alt="connect" style="max-height:200px, max-width:300"></p>
    <p><a href="/catalog/list_of_services">Назад</a></p>
{% endblock %}
{% block footer %}
     {{ block.super }}
{% endblock %}