{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой салон красоты{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Добро пожаловать в мой интернет-салон красоты!</h1>
    </header>
    <main>
        {% block content %}
        ---------------------------------
        {% endblock %}
    </main>
    <footer>
        <p>kosachevagalina@gmail.com, 2025, Интернет-салон красоты</p>
    </footer>
</body>
</html>


