{% extends "base.html" %}
{% block title %}Главная{{block.super }}{% endblock %}

{% block header %}
    {{ block.super }}
{% endblock %}

{% block navigation %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h2>Услуги красоты с выездом к Вам домой</h2>
    {% if username %}
    <p>Здравствуйте, {{ username }}!</p>
     {% else %}
    <p>Здравствуйте, Гость!</p>
    {% endif %}
    <p>Я мастер-универсал с 25-летним стажем. Много лет работаю , как семейный доктор красоты.</p>
    <p>Вам не нужно тратить своё время на дорогу в салон, очередь - мастер приедет к вам!</p>
    <p>Зарегистрировавшись на моём сайте, вы сами выбираете удобное для вас время и записываетесь на процедуру</p>
    <p>В разделе "Профиль" можете создать свою индивидуальную страничку(по аналогу соцсетей),
    где можно размещать фотографии, писать отзывы, вести хронологию ваших процедур, а также вести
    учёт своим финансам.</p>
{% endblock %}
{% block footer %}
     {{ block.super }}
{% endblock %}

