{% extends "base.html" %}

{% block title %}Портфолио{{block.super }}{% endblock %}

{% block header %}
{% endblock %}

{% block navigation %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1 class="text-center">Коротко о себе</h1>
    <p class="photo"><img src="/static/img/portfolio/photo/IMG_20231223_225802_147.jpg" alt="connect" style="max-height:300px"></p>
    <h3>Меня зовут Галина. Я мастер -универсал: парикмахер, колорист, бровист, мастер ногтевого сервиса.
        Работаю в бьюти-сфере 25 лет.
        Люблю творить, доставлять радость клиентам!</h3>
    <p class="photo"><img src="/static/img/portfolio/photo/IMG_20231201_213343_107.jpg" alt="connect" style="max-height:300px"></p>
    <h3>Мне 56 лет. Бабушка троих внуков. Занимаюсь спортивными танцами. Люблю путешествовать. Безумно люблю Крым!
        Люблю жизнь!</h3>
    <p class="photo"><img src="/static/img/portfolio/photo/IMG_20231204_092553_781.jpg" alt="connect" style="max-height:300px"></p>
{% endblock %}
{% block footer %}
     {{ block.super }}
{% endblock %}
