{% extends "base.html" %}

{% block title %}free_window{{block.super }}{% endblock %}

{% block navigation %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <h1 class="text-center">Новая запись</h1>
    <h2>Выбрать услугу:</h2>
    <ul>
        <li><h1><button><a href="/catalog/reg_manic">Маникюр</a></button></h1></li>
        <li><h1><button><a href="/catalog/reg_pedic">Педикюр</a></button></h1></li>
        <li><h1><button><a href="/catalog/reg_hair">Парикмахерский зал</a></button></h1></li>
        <li><h1><button><a href="/catalog/reg_brows">Брови, ресницы</a></button></h1></li>
    </ul>
{% endblock %}

{% block footer %}
     {{ block.super }}
{% endblock %}
